:root {
    --bg-green: #E8FCCF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-green);
    overflow-y: hidden;
}

.tocadiscos {
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    display: grid;
    place-items: center;
}



.tocadiscos *{
    width: 100%;
}

#tocadiscos-gif, #tocadiscos-disco {
    display: none;
}

/* CARTA */
.carta {
    position: absolute;
    z-index: 2;
    top: 110%;
    width: 80%;
    height: 90%;
    margin-left: 10%;
    margin-top: 10%;
    padding: 20px;
    overflow-y: auto;
    background-color: #EDC79B;
    /* Animaciones */
    transition: all 1s;
}
/* Animaciones de la carta */
.carta.aparecer {
    top: 0;
  }

.carta h1 {
    color: #FC6471;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: normal;
}

.carta p {
    color: #273E47;
    margin-top: 10px;
    text-align: center;
    font-family: 'Crimson text', serif;
    font-size: 20px;
    font-weight: 400;
}

#nombre, #despedida {
    font-weight: 700;
    font-style: italic;
}

/* Foto nuestra */
.img-corazon {
    width: 100%;
}

.img-corazon img {
    width: 100%;
}
